<div ng-controller="ForgotPasswordController">
<div  class="admin-container" ng-show="!sentEmail">
  <h1>Reset Password: </h1>
  <div>
    <input type="email" name="email" ng-model="email" placeholder="email" size="30"><br>
  </div>
  <div>
    <button ng-click="resetPassword(email)" type=submit> Reset My Password </button>
  </div>

</div>


<div ng-show="sentEmail" class="back-login">
  <h1>If the email is valid, it has been sent.</h1>
  <p><a href="http://willshare.com/cs495/admin/frontend/#/"><button>Back to Login</button></a></p>
</div>
</div>
