<div  class="admin-container">
  <h1>Reset Password: </h1>
  <div>
    <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>
    <input type="password" name="password" ng-model="user.password" placeholder="password" size="30" maxlength="25"><br>
  </div>
  <div>
    <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>
    <input type="password" name="password" ng-model="user.secondPassword" placeholder="password" size="30" maxlength="25"><br>
  </div>
  <div>
    <button ng-click="resetPassword(user)"> Reset My Password </button>
  </div>

</div>
