<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/simple-grid.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <meta charset="utf-8">
    <title>Admin Database Selection</title>
</head>

<body class="admin-panel">

    <div class="database-applications">
        <h2 class="admin-title">Application Admin</h2>
        <div class="db-container">
            <h2><a href='http://willshare.com/cs495/MidwestRadioPlayer/'>Joplin</a></h2>
            <h2><a href='http://willshare.com/cs495/MidwestRadioPlayer/'>Midwest</a></h2>
            <h2><a href='http://willshare.com/cs495/MidwestRadioPlayer/'>School</a></h2>
        </div>
    </div>
</body>

</html>
